* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.notification-row {
    outline: none;
}

.notification {
    background: #fdf6e3;
    color: #5c6a72;
    border-radius: 10px;
    margin: 6px;
    padding: 0;
    border-bottom: 5px solid #bdc3af;
}

.notification-content {
    padding: 8px 12px;
}

.summary {
    color: #8da101;
    font-weight: bold;
}

.body {
    color: #5c6a72;
}

.close-button {
    background: transparent;
    color: #a6b0a0;
    border: none;
    border-radius: 50%;
}

.close-button:hover {
    color: #f85552;
}

.control-center {
    background: #fdf6e3;
    border-radius: 15px;
    margin: 8px;
    padding: 8px;
    border-bottom: 5px solid #bdc3af;
}

.control-center .notification {
    border-radius: 10px;
}

widget.label > label {
    color: #5c6a72;
    font-size: 14px;
    font-weight: bold;
}

.widget-title {
    margin: 4px 8px;
}

.widget-dnd {
    margin: 4px 8px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #f4f0d9;
    border-bottom: 5px solid #bdc3af;
}

.widget-dnd > switch:checked {
    background: #3a94c5;
}
