$base:     #1e1e2e;
$mantle:   #181825;
$crust:    #11111b;
$surface0: #313244;
$text:     #cdd6f4;
$subtext:  #a6adc8;
$overlay:  #6c7086;
$accent:   #c89dd4;
$urgent:   #f38ba8;

$border-w: 1px;
$radius:   0;
$font:     "Maple Mono NF", "JetBrains Mono", monospace;
