// ── Startup ───────────────────────────────────────────────────────────
spawn-at-startup "swaync"

spawn-at-startup "/home/dweller/.dotfiles/scripts/sanctuary/mode.sh" "reapply"

spawn-at-startup "/home/dweller/.dotfiles/scripts/sanctuary/wallpaper.sh" "restore"

spawn-at-startup "/home/dweller/.dotfiles/scripts/sanctuary/nightlight.sh" "start"

spawn-at-startup "/home/dweller/.dotfiles/scripts/sanctuary/idle.sh"

spawn-sh-at-startup "bash /home/$USER/.dotfiles/scripts/keysounds.sh toggle"
